<div class="ui inverted green footer segment">
  <div class="ui two column inverted green stackable grid">
    <div class="eight wide column">
      <div class="ui horizontal link list">
        <a class="item" routerLink="impressum">Impressum</a>
        <a class="item" routerLink="ueber-uns">Über Uns</a>
        <a class="item" routerLink="credits">Credits</a>
      </div>
    </div>
    <div class="eight wide right aligned column">
      <div class="item rights-reserved">FABFLOWERS GmbH, 2019</div>
    </div>
  </div>
</div>
