<div class="ui inverted green vertical masthead center aligned segment">
  <div class="container">
    <div class="ui large secondary inverted green menu">
      <a routerLink="home">
        <span class="header item"><i class="tree icon"></i> Fab Flowers<sub class="subtitle">Ihre Garten Experte</sub></span>
      </a>
      <a class="right item" routerLink="home" routerLinkActive="active">Home</a>
      <a class="item" routerLink="produkte" routerLinkActive="active">Produkte</a>
      <a class="item" routerLink="services" routerLinkActive="active">Dienstleistungen</a>
      <a class="item" routerLink="administration" routerLinkActive="active">Administration</a>
      <a class="item" routerLink="ueber-uns" routerLinkActive="active">Über uns</a>
    </div>
  </div>
</div>
