<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="center aligned sixteen wide column">
          <img src="https://c1.staticflickr.com/4/3783/20436697295_816e2cf98d_b.jpg" class="ui bordered rounded image centered" title="Garten unter Sonnenlicht">
          <h1 class="ui main header massive centered">Ein Garten kann je nach Anspruch und Vorstellung viele Gesichter haben.</h1>
        </div>

      </div>
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Ein schöner, gepflegter Garten entsteht in den seltensten Fällen alleine, sondern ist vielmehr das Ergebnis sorgfältiger Planung, Einsatz von Fachwissen und sehr viel Zeit und Pflege.</h3>
        </div>
        <div class="eight wide right floated column">
            <img src="https://c1.staticflickr.com/9/8396/30075063036_d3c74d791f_b.jpg" class="ui bordered rounded right floated  transition visible image">
          </div>
      </div>
      <div class="row">
          <div class="eight wide left floated column">
              <img src="https://c1.staticflickr.com/1/404/31797645685_5923b707fc_b.jpg" class="ui bordered rounded left floated  transition visible image">
            </div>
          <div class="eight wide column">
            <h3 class="ui header">Haben Sie auch eine Leidenschaft für Pflanzen und Blumen wie uns? Möchten Sie Gartenarbeit gerne als Hobby haben aber wissen genau nicht wo anzufangen?</h3>
          </div>
      </div>
      <div class="row">
          <div class="eight wide column">
            <h3 class="ui header">Dann sind Sie richtig bei uns! Wir unterstützen Ihnen in allen möglichen Wege damit Sie ein wahres Paradies in Ihrem Garten realisieren.</h3>
          </div>
          <div class="eight wide right floated column">
              <img src="https://c1.staticflickr.com/6/5807/21465132362_5f3dd7a2bc_b.jpg" class="ui bordered rounded right floated  transition visible image">
            </div>
        </div>
    </div>
  </div>
