<div class="ui container">
  <h2>Impressum</h2>
<address>
Thorsten Hagen<br>
Immo Seebörger<br>
Choriner Straße 49<br>
10435 Berlin<br>
E-Mail: moinsen2@blindtextgenerator.com<br>
</address>

<h4 class="description">Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV:<br>
Immo Seebörger (Anschrift wie oben)</h4>

<h3>Schutzrechtsverletzung</h3>
<p>Blindtextgenerator bemüht sich, etwaige Auseinandersetzungen im Konsens zu lösen. Falls Sie also vermuten, dass von dieser Website aus eines Ihrer Schutzrechte verletzt wird, teilen Sie das bitte umgehend per elektronischer Post mit, damit zügig Abhilfe geschafft werden kann. Bitte nehmen Sie zur Kenntnis: Die zeitaufwändigere Einschaltung eines Anwaltes zur für den Diensteanbieter kostenpflichtigen Abmahnung entspricht nicht dessen wirklichen oder mutmaßlichen Willen.</p>

<h3>Inhalt</h3>
<p>Die Inhalte dieses Webprojektes wurden sorgfältig geprüft und nach bestem Wissen erstellt. Aber für die hier dargebotenen Informationen wird kein Anspruch auf Vollständigkeit, Aktualität, Qualität und Richtigkeit erhoben. Es kann keine Verantwortung für Schäden übernommen werden, die durch das Vertrauen auf die Inhalte dieser Website oder deren Gebrauch entstehen.</p>

<h3>Links</h3>
<p></p>Trotz einer sorgfältigen inhaltlichen Kontrolle übernehmen die Autoren keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.

<h3>Lizenz</h3>
<p>Die Inhalte dieser Website stehen, so weit sie von den Blindtextgenerator-Autoren stammen, unter einer Creative Commons Lizenz. Andere Inhalte unterstehen dem Urheberrecht ihrer Schöpfer (z.B. bestimmte Blindtexte und ihre Übersetzungen oder technische Skripte) und können nur von diesen lizenziert werden.</p>

<h3>Datenschutz</h3>
<p>Personenbezogene Daten werden auf dieser Webseite nur im technisch notwendigen Umfang erhoben. In keinem Fall werden die erhobenen Daten verkauft oder aus anderen Gründen an Dritte weitergegeben. Sie haben jederzeit das Recht auf Auskunft über die bezüglich Ihrer Person gespeicherten Daten, deren Herkunft und Empfänger sowie den Zweck der Speicherung.</p>
</div>
