<div class="ui container">
  <h2>Wir sind Gärtner - aus Tradition und Leidenschaft</h2>
  <p>
    Bevor wir unsere Internet-Gärtnerei Native Plants gründeten, waren wir hauptsächlich auf regionalen Bauernmärkten
    (z. B. in der Bamberger Innenstadt) anzutreffen. Viele Kunden baten uns, die Pflanzen direkt zu ihnen nach Hause zu
    liefern. Das brachte uns auf die Idee eine Versand-Gärtnerei ins Leben zu rufen, in deren Rahmen wir ein großes
    Angebot an Pflanzen vorstellen und verfügbar machen können.
  </p>
  <h2>Das zeichnet uns aus</h2>
  <p>
    Wir sind ständig bestrebt unseren Pflanzen Online Shop zu erweitern und zu verbessern. Deshalb arbeiten wir nicht
    nur an unserem Sortiment, damit dieses möglichst abwechslungsreich und umfangreich ist, sondern investieren auch
    viel Zeit in die Beschreibung und Bebilderung jeder Pflanze. So helfen wir Ihnen dabei, dass Sie vor und nach dem
    Kauf bestens informiert sind. Abgerundet wird das alles von unseren detaillierten Garten-Tipps, in die wir unser
    ganzes Expertenwissen einfließen lassen.
  </p>
  <p>
    Aufgrund des umfangreichen Angebots ist es uns leider nicht möglich, alle Pflanzen in unserer Gärtnerei selbst zu
    kultivieren. Die Lösung: wir arbeiten mit Lieferanten zusammen, die dieselben hohen Ansprüche an Qualität und
    Sortenechtheit stellen, wie wir es tun. So kann trotzdem ein gleichbleibend hoher Standard gewährleistet werden.
  </p>
  <h2>Unsere Kollegen</h2>
  <div class="ui divided items">
    <fab-employee *ngFor="let e of employees; last as l" [employee]="e" [last]="l"></fab-employee>
  </div>
</div>
