<div class="ui container">
  <h2>Credits</h2>
  <p class="description">Ich bin dankbar für alle Webseiten, Tutorials und externe APIs die in diesem Projekt benutzt wurden. Ich nenne alle Ressourcen die für den erfolgreiche Abschluss dieses Projekts verwendet wurden: </p>
  <ol>
    <li><a href="https://semantic-ui.com/" target="_blank">Semantic UI <i class="external alternate icon"></i></a> - für die schnellstmögliche HTML und CSS Layouts und Styling</li>
    <li><a href="https://mockaroo.com/" target="_blank">Mockaroo API <i class="external alternate icon"></i></a> - für die realistische Mitarbeiterdaten</li>
    <li><a href="https://robohash.org/" target="_blank">Robohash API <i class="external alternate icon"></i></a> - für die coole Avatars unserer Mitarbeitern</li>
    <li><a href="https://newsapi.org/" target="_blank">News API <i class="external alternate icon"></i></a> - für die aktuelle Nachrichten als JSON Response</li>
    <li><a href="https://search.creativecommons.org/" target="_blank">Creative Commons <i class="external alternate icon"></i></a> - für die wunderbare Suche nach wiederverwendbaren Bildern</li>
    <li><a href="https://www.muster-vorlagen.net/impressum/">MusterVorlagen <i class="external alternate icon"></i></a> - Für den Inhalt des Impressums</li>
    <li><a href="https://idangero.us/swiper/api/" target="_blank">Swiper API <i class="external alternate icon"></i></a> - für die Image-Sliders</li>
    <li><a href="https://github.com/angular-buch/book-monkey2" target="_blank">BookMonkey Beispiel <i class="external alternate icon"></i></a> - für das Beispiel wo wir eine CRUD Anwendung Schritt für Schritt entwickelt haben</li>
    <li><a href="https://scoopy68.wordpress.com/2016/05/24/flower-ipsum/" target="_blank">Flower Ipsum <i class="external alternate icon"></i></a> - für den Dummy Text Lorem Ipsum aber mit Blumen</li>
    <li><a href="http://opencage.info/pics/keyword_534.asp" target="_blank">Open Cage Bildgalerie<i class="external alternate icon"></i></a> - für die schöne Orchid Blumenbilder</li>
  </ol>
</div>
